.card {
    margin-top: 40px;
    margin-left: 350px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items horizontally with space between */
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin to create spacing between cards */
  }
  .card .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    background-color: grey;
    margin-right: 20px;
  }
  
  .card .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .card .user-info .name {
    font-weight:bolder;
    color: #00004E;
    margin: 0 0 5px 0;
    font-size: 24px;
  }
  
  .card .user-info .detail {
    line-height: 2rem;
    color: blacks;
    margin: 0;
    font-size: 16px;
  }
  
  .card .button {
    background-color: #007bff;
    color: #fff;
    margin-right: 30px;
    padding: 15px 26px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}


.filtrimi{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  
  }
  .container {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 50px 40px 0 22%;
  }

.search-bar input[type="text"]{
  outline: none;
  border: 1px solid #699BF7;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

.button-add{
    margin-top: 50px;
    margin-right: 40px;
    background-color: #00004E;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#span-button{
    margin-left: 45%;
    margin-top: 66px;
}

.fa-plus{
    color: #fff;
    font-size: 20px;

}


.search-bar button{
  padding: 10px 15px;
  font-size: 16px;
  background-color: #00004E;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
  }

  .search-bar input[type="text"],
  .search-bar button{
    width: 100%;
  }
}



.pagination {
    margin-left: 250px;
    margin-top: 20.5%;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .pagination a {
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 600;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .pagination a.active {
    background-color: #00004E;
    color: white;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #f1f1f1;
  }
  
  .previous,
  .next {
    background-color: #f1f1f1;
  }
  
  @media screen and (max-width: 600px) {
    .pagination {
      flex-wrap: wrap;
    }
  } 